# Turn on URL rewriting
RewriteEngine On

# Uncomment and specify if you are using a subdirectory of the root URLL
# RewriteBase /foo/

# Allow any files (not directories) that exist to be served directly
RewriteCond %{REQUEST_FILENAME} !-f

# Rewrite all other URLs to index.php/URL
RewriteRule .* index.php/$0 [PT,L]

Order deny,allow
Allow from all

